<!DOCTYPE html>
<html lang="en">
<head>
    <title>Select City Weather</title>
    <%- include('./partials/head'); %>
</head>

<body>
	<div class="container">

	<header>
		<%- include('./partials/header'); %>
	</header>

	<main>

		<!-- <div class="card my-5" style= "border-radius: 1em; background-color: gainsboro;"> -->
		<div class="card my-4" style="border: solid blue 1px;">

        <!-- div class="card-body py-4 px-4 px-md-5"> -->
		<div class="card-body">


			<ul class="nav nav-tabs mb-1">

				<li class="nav-item dropdown">
					<a class="nav-link dropdown-toggle active" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false"><span class="px-2">Passenger</span></a>
					<ul class="dropdown-menu">
						<li><a class="dropdown-item nav-link" href="/passengerDashboard">Available Trips</a></li>
						<li><a class="dropdown-item nav-link" href="/passengerConfirmed">Confirmed Bookings</a></li>
						<li><a class="dropdown-item nav-link" href="/passengerRequested">Requested Bookings</a></li>
						<li><hr class="dropdown-divider"></li>
						<li><a class="dropdown-item nav-link" href="/PassengerReq">Request Bookings</a></li>
					</ul>
				</li>

				<li class="nav-item">
					<a class="nav-link" href="/driverDashboard"><span class="px-2">Driver&nbsp;&nbsp;&nbsp;</span></a>
				</li>				


				<!-- New tab added to the far right -->
				<li class="nav-item ms-auto">
					<a class="nav-link" href="/logout"><span class="px-2">Logout</span></a>
				</li>
			</ul>

			<div class="text-end">User Name: <%= locals.username %></div>
			
			<!-- this is the inner card -->
			<div class="card mx-4 mb-3" style="border: none;">

			<!-- message or error message -->
			<!-- flash message, <%= JSON.stringify(message)  %> -->
			<% if ( message.message) { %>
			<div class="alert alert-success">
				<%= message.message %>
			</div>
			<% } %>
			<% if ( message.error) { %>
			<div class="alert alert-danger">
				<%= message.error %>
			</div>
			<% } %>
			<!-- end of flash message -->

			<!-- If it is not redirect, this will work, system error message -->
			<% if (typeof error !== 'undefined' && error !== null) { %>
				<p class="alert alert-danger"><%= error %></p>
			<% } %>
			<!------------------------------------------->


			<h4 class="mb-4">Select City Weather</h4>

			<form id="cityForm" action="/weatherPage" method="get">

				<card class="mx-auto row mb-3" style="width: 40em; background-color: gainsboro; border-radius: .5em;">
					<div class="col-md-2 px-5 py-3">
						<label for="city" class="form-label">City</label>
					</div>
					<div class="col-md-10 px-5 py-3">
						<select class="form-select" tabindex="30" style="width: 11em" id="city" name="city" required="yes" >
							<option> </option>
							<!-- city dropdown list -->
							<% cities.forEach( (city) => { %>
							<!-- <option value='<%= city.id %>'><%= city.city %></option> -->
							<option value='<%= city.city %>,Ontario,Canada'><%= city.city %></option>
							<% } );%>
						</select>
					</div>

				</card>

				<div class="mx-auto text-end" style="width: 40em;">
					<button tabindex=60 class="btn btn-primary mx-3" type="submit" id="selectCityButton" >Show Weather</button>
				</div>

			</form>

			<!----------------------------------------------------------------------------->

			</div> <!-- inside card -->

		</div> <!-- card-body -->
		</div> <!-- card -->
	</main>

	<footer>
		<%- include('./partials/footer'); %>
	</footer>

	</div> <!-- container -->

</body>

</html>